<a [routerLink]="['/dashboard']">Go to Polls</a>
<h1>{{survey.question}}</h1>
<h4>Click the vote button to choose one.</h4>

<table>
  <tr><th>Option</th>
  <th>Current Count of the Votes</th>
  <th>Action</th></tr>
  <tr><td>{{survey.option1}}</td><td>{{survey.vote1}}</td><td><button name="vote1" (click)='increment("vote1")'>Vote</button></td></tr>
  <tr><td>{{survey.option2}}</td><td>{{survey.vote2}}</td><td><button name="vote2" (click)='increment("vote2")'>Vote</button></td></tr>
  <tr><td>{{survey.option3}}</td><td>{{survey.vote3}}</td><td><button name="vote3" (click)='increment("vote3")'>Vote</button></td></tr>
  <tr><td>{{survey.option4}}</td><td>{{survey.vote4}}</td><td><button name="vote4" (click)='increment("vote4")'>Vote</button></td></tr>
</table>
